# Feedback App
FEEDBACK_API_URL=https://
FEEDBACK_API_KEY=

# Seller App (para productos y vendedores)
NEXT_PUBLIC_SELLER_APP_URL=https://
SELLER_API_KEY=
NEXT_PUBLIC_SUPERADMIN_KEY=

# Buyer App (para órdenes y usuarios)
BUYER_API_URL=https://
BUYER_API_KEY=

# Logistics App (para envíos)
SHIPPING_APP_URL=https://
SHIPPING_API_KEY=

# Payments App
NEXT_PUBLIC_PAYMENTS_API_URL=https://
PAYMENTS_API_KEY=
PAYMENTS_VERCEL_BYPASS=

# Base de datos PostgreSQL (para persistencia propia)
DATABASE_URL=postgresql://

# Clerk (autenticación)
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_SIGN_IN_FALLBACK_REDIRECT_URL=/admin/usuarios
NEXT_PUBLIC_CLERK_SIGN_UP_FALLBACK_REDIRECT_URL=/
