# Feedback App
FEEDBACK_API_URL=https://proyecto-c-feedback-dev-squad.vercel.app/
FEEDBACK_API_KEY=cp_key_aqui

# Seller App (para productos y vendedores)
NEXT_PUBLIC_SELLER_APP_URL=https://
SELLER_API_KEY=
NEXT_PUBLIC_SUPERADMIN_KEY=


# Buyer App (para órdenes y usuarios)
BUYER_API_URL=https://
BUYER_API_KEY=

#Logistics App (para envíos)
NEXT_PUBLIC_LOGISTICS_API_URL=
NEXT_PUBLIC_LOGISTICS_API_KEY=

# Base de datos PostgreSQL (para persistencia propia)
DATABASE_URL=postgresql://

# Clerk (autenticación)
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=
